@charset 'UTF-8';
/*index.css - index.html 에 영향을 미치는 css */
/************************* Header**********************/

#headerBox {
    height:60px;
    line-height:60px; /* 줄간격 - 수직 가운데로 배치 */
    padding:0;
}

#logoBox {
    float:left;
    height:60px;
    line-height:60px;
}

/**************** 메인메뉴 고정 ***************/
/* 윈도우 스크롤 시 메인메뉴 위치 고정 */
.mainMenuFixed {
    position: fixed;
    top:0px;
}

/* 메인메뉴에 그림자표시 */
.mainMenuShadow {
    box-shadow: 0 3px 5px 0px gray;
}