@charset "UTF-8";
/*slideShow.css*/

#slideShow {
    position:relative;
    background-color:#ffffff;
    height:520px;
    line-height:520px;
    border-bottom:solid #CCC 1px;

}
#slideShowBox {
    width:1280px;
    height:480px;
    text-align:center;
    overflow:hidden; /*영역 벗어나면 숨김*/
}

#slidePanel {
    position:relative;
    width:6400px;   /* 1280 이 5개*/
    height:480;
}

/*슬라이드이미지*/
.slideImage{
    float:left;
    width:1280px;
    height:480px;
    }

/*prevNext 버튼 */
/*previous/next 버튼*/
#prevNextButtonBox {position:relative;z-index:10;}
#prevButton {
    position:absolute;
    left:4%;
    top:201px;
    opacity:0.8;
    cursor:pointer;
}
#nextButton{
    position:absolute;
    right:4%;
    top:201px; /*슬라이드이미지 높이 480의 50% 인 240에 버튼의 가운데 위치해야함 240-39=201*/
    opacity:0.8;
    cursor:pointer;
}

#prevButton:hover {opacity:1}
#nextButton:hover {opacity:1}

/*컨트롤버튼*/
#controlPanel {margin:0 auto; width:160px;}
#controlPanel img{float:left;margin:10px;}











